{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <div class="container-fluid container-lg">
        <div class="d-flex flex-column">
            <h1 class="text-center my-2 active">{{course.title}}</h1>
            <div class="border border-4 border-mellow-apricot">
                <div class="row-cols-1 bg-mellow-apricot">
                    <ul class="nav" id="sectionsListInline">
                    
                        {% for section in sections %}
                            <li class="nav-item mx-2"><a href="{{ path('app_course_inprogress',{'id':course.id, 'section':section.id, 'lesson': section.lessonsContained[0].id}) }}" class="nav-link french-lilac fs-5 {{ app.request.get('section') == section.id ? "fw-bolder" }}">{{section}}</a></li>
                        {% endfor %}
                    </ul>
                    <ul class="nav" id="lessonsListInline">
                        {# add lessons with JavaScript #}
                        {% for lesson in lessons %}
                            <li class="nav-item mx-2"><a href="{{ path('app_course_inprogress',{'id':course.id, 'section':lesson.containedIn.id, 'lesson' : lesson.id}) }}" class="nav-link french-lilac fs-5 {{ app.request.get('lesson') == lesson.id ? "fw-bolder" }}">{{lesson}}</a></li>
                        {% endfor %}
                        {% if quiz|length > 0 %}
                        <li class="nav-item mx-2"><a href="{{ path('app_quiz',{'course':course.id}) }}" class="nav-link french-lilac fs-5 ">Quiz</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="row">
                    <div class="col-7 row">
                        <iframe width="736" height="400" src={{CurrentLesson.video}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="my-5 mx-5">
                            <ul class="nav" id="resourcesList">
                                {% for resource in CurrentLesson.resources %}
                                    <li class="mx-4"><a href="{{ asset('uploads/resources/' ~ resource) }}" class="french-lilac fs-4"><img src="{{ asset('uploads/images/file.ico') }}" alt="resource"></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-5 d-flex flex-column justify-content-around">
                        <p>{{CurrentLesson.description}}</p>
                        <div class="d-flex justify-content-end" id="isFinishedLesson">
                            {%  if app.user.id in CurrentLesson.FinishedBy %}
                            <img src="{{asset ('uploads/images/done.png')}}" alt="done">
                            {% else %}
                            <button type="button" class="btn btn-french-lilac w-50">J'ai terminé ce cours</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
