{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <div class="container-fluid container-lg">
        <div class="d-flex flex-column">
            <h1 class="text-center my-5" id="courseTitle">{{course.title}}</h1>
            <div class="border border-4 border-mellow-apricot">
                <div class="row-cols-1 bg-mellow-apricot" id="courseLessonsList">
                    <ul class="nav" id="sectionsListInline">
                        {% for section in course.sectionsContained %}
                            <li class="mx-2"><span class="french-lilac fs-4" id="{{course}}_{{section}}">{{section}}</span></li>
                        {% endfor %}
                    </ul>
                    <ul class="nav" id="lessonsListInline">
                    </ul>
                </div>
                <div class="row" id="lessonInProgress">
                    <div class="col-7 row">
                        <iframe class="" width="736" height="400" src={{lesson.video}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="my-5 bg-mellow-apricot">
                            <ul class="nav">
                                {% for resource in lesson.resources %}
                                    <li class="mx-2"><a href="{{ asset('uploads/resources/' ~ ressource) }}" class="french-lilac fs-4">{{resource}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-5 d-flex flex-column justify-content-around">
                        <p>{{lesson.description}}</p>
                        <div class="d-flex justify-content-end" id="finishedLesson">
                            {%  if app.user.id in lesson.FinishedBy %}
                            <p class="text-end old-rose fw-bold fs-4">Vous avez terminé ce cours.</p>
                            {% else %}
                            <button type="button" class="btn btn-french-lilac w-50 finishedLessonButton">J'ai terminé ce cours</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}
