{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block body %}
<div class="container-fluid lg-container">
    <div class="row vh-100 d-flex justify-content-center align-items-center">
        <div class="col-10 col-lg-4">
            <form method="post" id="loginForm">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                    </div>
                {% endif %}

                <h1 class="mb-5 font-weight-normal old-rose text-center" id="connexionTitle">Connexion</h1>
                <label for="inputEmail" class="old-rose mb-3">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-4" autocomplete="email" required autofocus>
                <label for="inputPassword" class="old-rose mb-3">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control mb-4" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button class="btn btn-french-lilac my-3" type="submit" id="loginButton" name="loginButton">
                    Connecter
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
