{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {% if app.request.query.get("person") == "student" %}
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.nickname) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
    {% elseif app.request.query.get("person") == "instructor" %}
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.lastname) }}
            {{ form_row(registrationForm.firstname) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.picture) }}
            {{ form_row(registrationForm.skills) }}
    {% endif %}
        <button type="submit" class="btn">S'enregistrer</button>
    {{ form_end(registrationForm) }}
{% endblock %}
