{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container-fluid lg-container">
    <div class="row vh-100 d-flex justify-content-center align-items-center">
        <div class="col-10 col-lg-4" id="registerForm">
            <h1 class="old-rose text-center mb-5">S'inscrire</h1>
            {% if app.request.query.get("person") == "student" %}
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.nickname) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword) }}
            {% elseif app.request.query.get("person") == "instructor" %}
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.lastname) }}
                    {{ form_row(registrationForm.firstname) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword) }}
                    {{ form_row(registrationForm.picture) }}
                    {{ form_row(registrationForm.skills) }}
            {% endif %}
            <button type="submit" class="btn btn-french-lilac my-3">S'enregistrer</button>
            {{ form_end(registrationForm) }}

            {# add link to register as instructor #}
            {% if app.request.query.get("person") == "student" %}
                <p class="mellow-apricot fs-5 fst-italic registerChoice">Pour s'inscrire en tant qu'instructeur, cliquer <a href="{{ path('app_register', {'person':'instructor'}) }}">ici</a></p>
            {% elseif app.request.query.get("person") == "instructor" %}
                <p class="mellow-apricot fs-5 fst-italic registerChoice">Pour s'inscrire en tant qu'étudiant, cliquer <a href="{{ path('app_register', {'person':'student'}) }}">ici</a></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
