{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
    <div class="container-fluid container-lg vh-100">
        <h1>Question index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Question</th>
                    <th>Answers</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for question in questions %}
                <tr>
                    <td>{{ question.id }}</td>
                    <td class="text-break">{{ question.question }}</td>
                    <td class="text-break">{{ question.answers ? question.answers|json_encode : '' }}</td>
                    <td>
                        <a href="{{ path('app_question_edit', {'id': question.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucune correspondance trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_question_new') }}" class="btn btn-french-lilac">Nouvelle question</a>
        <a href="{{ path('app_instructor', {'id': user.id }) }}" class="btn btn-french-lilac mx-5">Retour</a>
    </div>
{% endblock %}
