<div class="container-fluid container-lg">
  <nav class="row navbar">
    <div class="d-flex col-7">
      <img src="{{ asset("uploads/images/logo.png") }}" alt="logo" id="logo">
      {% if app.request.attributes.get('_route') == "app_homepage" %}
      <a href="{{ path('app_all_courses') }}" class="align-self-center mx-5" id="allCoursesNavbar">Toutes nos formations</a>
      {% else %}
        <a href="{{ path('app_homepage') }}" class="align-self-center mx-5" id="allCoursesNavbar">accueil</a>
        {% if app.request.attributes.get('_route') != "app_all_courses" %}
        <a href="{{ path('app_all_courses') }}" class="align-self-center" id="allCoursesNavbar">Toutes nos formations</a>
        {% else %}
          <form class="col-6 mx-5 align-self-center">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchBar">
          </form>
          <div class="col-8">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="myCourses">
              <label class="form-check-label french-lilac" for="flexSwitchCheckDefault">Formations suivies</label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="doneCourses">
              <label class="form-check-label french-lilac" for="flexSwitchCheckChecked">Formations terminées</label>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
  
    <ul class="list mt-2 col-4">
      {% if app.user %}
        <li class="list-item" id="logoutNavbar"><a href="{{ path("app_logout") }}"><img src="{{ asset('uploads/images/logout.png') }}" alt="logout"></a></li>
      {% else %}
        {% if app.request.attributes.get('_route') != "app_register" %}
        <li class="list-item" id="registerNavbar"><a href="{{ path("app_register",{'person':'student'}) }}">S'inscrire</a></li>
        {% endif %}
        {% if app.request.attributes.get('_route') != "app_login" %}
        <li class="list-item" id="loginNavbar"><a href="{{ path("app_login") }}">Se connecter</a></li>
        {% endif %}
      {% endif %}
    </ul>
  </nav>
</div>  